[submodule "thirdparty/cglm"]
	path = thirdparty/cglm
	url = https://github.com/recp/cglm
[submodule "thirdparty/stb/stb"]
	path = thirdparty/stb/stb
	url = https://github.com/nothings/stb
[submodule "thirdparty/freetype2"]
	path = thirdparty/freetype2
	url = https://github.com/justofisker/freetype2.git
